@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<p>
    Here's this new shiny feature!

    I'm gonna really change some stuff up, just to drive the point home that Git can track my changes on the fly - pretty neat, huh?
</p>
